body {
	color:#ffffff;
	background-color: blue;
	background-image: url(../images/background_image.gif);
	background-size:cover;
}

#pathDiv {
    position: absolute;
    top: 10%;
    right: 25%;
    width: 30%;
    height: 50%;
    text-align:center;
}

#map {
	width: 500px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	border: 1px solid #000000;
	background-color: #FFFFFF; 
	border: ridge;
}

.invisible {
	visibility: hidden;
}




