/*http://paletton.com/#uid=7491I0kiCFn8GVde7NVmtwSqXtg*/
body {
    /*background-image: url(../images/picture.jpg);*/
}
#wrapper {
    padding: 0;
}

#title_wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#title_header {
  display: inline-block;
  float: left;
  margin-right: 50px;
  margin-bottom: 10px;

  font: bold 100px Sans-Serif;
  color: white;
  text-shadow:  0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

#title_definition {
  display: inline-block;
  padding: 0;

  font: normal 20px Sans-Serif;
  color: #eee;
  text-shadow:  0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 6px 1px rgba(0,0,0,.1);

  counter-reset: item;
}

#title_definition > li {
  text-align: left;

  margin-right: 0.5em;
  margin-bottom: 5px;

  list-style-type: none;
}

#title_definition > li:not(#definition_begin) {
  counter-increment: item;
}

#title_definition > li:not(#definition_begin):before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  margin-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

#title_definition > #definition_emphasis {
  font-size: 35px;
  color: white;

  float: left;
  margin-right: 0.5em;
  margin-bottom: 5px;

  list-style-type: none;
  counter-increment: item;
}

#big_0 > h2 {
  margin-top: 75px;

  color: white;
  text-shadow:  0 1px 0 rgba(255, 255, 255, 0.4),
                0 2px 0 rgba(255, 255, 255, 0.4);
}

/*
h1 {
    color:red;
}
*/
.invisible_div {
    display: none;
}

.description {
    text-align: left;
    width: 200px;
    padding: 25px;
}

.big_child {
    position:relative;
    margin: 0;
    padding: 25px;
    font-size: 15px;
    width:500px;
    height:500px;

    color: white;
    text-shadow:  0 1px 0 rgba(255, 255, 255, 0.4);

    border: 1px solid transparent;
    border-radius: 4px;

    background-color: #35404F;
}

.big_child button {
    color: black;
}

#author > svg, #type_child > svg {
  text-shadow:  1px 1px 0 #fff,
                  -1px -1px 0 #fff,
                  1px -1px 0 #fff,
                  -1px 1px 0 #fff,
                  0px 1px 0 #fff,
                  1px 0px 0 #fff,
                  0px -1px 0 #fff,
                  -1px 0px 0 #fff;
}

.stacked {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 50px;
    width: 100%;
    min-height: 500px;
    text-align: center;
}

#wrapper li:first-child .stacked,
#wrapper li:last-child .stacked {
    display: block;
}

#big_0 {
    /*background-image: url(../images/wordCloud.png);*/
    background-size: cover;
    text-align: center;
    color: #fff;
}

#big_0 img {
    /*background-image: url(../images/wordCloud.png);*/
    width: 100%;
}

#big_4 {
  padding-top: 100px;
}

.step_title {
  width: 200px;
  height: 100%;
  color: #444;
  background: transparent;
  text-shadow:  0 1px 0 rgba(25, 25, 25, 0.4),
                0 2px 0 rgba(25, 25, 25, 0.4);
}

#none_child {
  position: relative;
}

#none_child > *,
#type_child > *,
#location_child > svg,
#time_child > *,
#author > *,
#imgGrid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#circles circle {
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 0px;
    padding: 2px;
    fill-opacity: .8;
    z-index: 10;

}

#author{
    /*height:50%;
    width:20%;
    position:fixed;
    left: 2%;
    top: 8%;*/
}


#label{
    text-align: center;
    margin-bottom: 10px;
    /*height:5%;
    width:45%;
    position:fixed;
    left: 30%;
    top: 2%;*/
}

#map{
    margin:auto;
    width:400px;
    height:400px;
}

#time_child {
    padding-top: 150px;
}
#slider_div{
    margin: auto;
    width: 250px;
}

#slider_title {
    text-align: center;
    /*height:4%;
    width:18%;
    position:fixed;
    left: 77%;
    top: 14%;*/
}

#slider{
    /*height:2%;
    width:18%;
    position:fixed;
    left: 77%;
    top: 18%;*/
}

#label_div {
    margin-top: 5px;
    /*height:10%;
    width:18%;
    position:fixed;
    left: 77%;
    top: 22%;*/
}

#facet_div {
    height:30%;
    width:30%;
    /*position:fixed;
    left: 5%;
    top: 70%;*/
}

#facet_div {
    padding: 80px;
}

button {
    background: #ddd;
}
 
#imgGrid {
  text-align: center;
  width: 300px;
  height: 300px;
  margin: auto;
/*  display: table;
*/}

#imgGrid button {
  margin: 2px;
  display: block;
  float: left;
  width: 90px;
  height: 90px;
  /*background: transparent;*/
}
#imgGrid button label {
  margin-left: auto;
  margin-right: auto;
  /*background: transparent;*/
}
/*
#fear {
    background-color: red;
}*/

#imgGrid img {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
}

#facetList {
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

#facetList > li {
    margin-top: 4px;
}

#facetList button {
  width: 100%;
}

#show_parse {
  display: none;
  margin: auto;
  margin-top: 10px;
}

#results_div {
  margin-bottom: 10px;
  margin: auto;
  display: block;
  word-wrap: normal;
  white-space: normal;
}

 .node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 3px;
 }

 .node text {
    font: 12px sans-serif; 

    text-shadow:  1px 1px 0 #fff,
                  -1px -1px 0 #fff,
                  1px -1px 0 #fff,
                  -1px 1px 0 #fff,
                  0px 1px 0 #fff,
                  1px 0px 0 #fff,
                  0px -1px 0 #fff,
                  -1px 0px 0 #fff;
}

 .link {
   fill: none;
   stroke: black;
   stroke-width: 2px;
 }

.lightbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lightbox_overlay {
  z-index: 999;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  text-align: center;
  
  background: rgba(0,0,0,0.8);
}

.lightbox_content {
  z-index: 1000;

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);

  width: 1500px;

  color: #444;
  text-shadow:  0 1px 0 rgba(25, 25, 25, 0.4),
                0 2px 0 rgba(25, 25, 25, 0.4);
  
  border: 1px solid transparent;
  border-radius: 4px;
  background: #EEE;
}
.lightbox_content #parse_rules {
  text-align: center;
  margin: auto;
  width: 70%;
}

.lightbox_content #parse_div {
  margin: auto;
  overflow: auto;
  width: 100%;
}
