.step {
	list-style: none;
	overflow: hidden;
	color: white;
	font: 11px Helvetica, clean, sans-serif;
	background: #fff;
}
.step li {
	float: left;
	line-height: 10px;
}
.step li a {
	color: #fff;
	text-decoration: none;
	padding: 35px 25px 35px 25px;
	background: #aaa;
	display: block;
	float: left;
	border-right: 5px solid white;
}
.step li a::after {
	position: right;
	display: block;
	margin-top: -5px;
	margin-left: auto;
	margin-right: -32px;
	height: 5px;
	width: 15px;
	content: " ";
	-webkit-transform: skew(-45deg);
	background: #aaa;
	border-right: 5px solid white;
	-moz-transform: skew(-45deg);
	-o-transform: skew(-45deg);
	transform: skew(-45deg);
}
.step li a::before {
	float: right;
	display: block;
	margin-bottom: -5px;
	margin-left: auto;
	margin-right: -32px;
	height: 5px;
	width: 15px;
	content: " ";
	-webkit-transform: skew(45deg);
	background: #aaa;
	border-right: 5px solid white;
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	transform: skew(45deg);
}
.step li:first-child a,
.step li:first-child a::before,
.step li:first-child a::after {background: #aaa;}
.step li:nth-child(2) a,
.step li:nth-child(2) a::before,
.step li:nth-child(2) a::after {background: #555;}
.step li:nth-child(3) a,
.step li:nth-child(3) a::before,
.step li:nth-child(3) a::after {background: #000;}
.step li:nth-last-child(2) a::before,
.step li:nth-last-child(2) a::after {display: none;}
.step li:last-child {
	padding: 35px 25px 35px 25px;
	background: transparent !important;
	color: black;
	font-size: 40px;
	font-weight: 900;
	text-shadow: 0 0 2px rgba(0,0,0,0.6);
}
.step li a:hover,
.step li a:hover::before,
.step li a:hover::after {background: #f33;}